// Header.scss
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdfefe;
  color: white;
  padding: 20px 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 0.2rem;
  transition: margin-left 0.3s ease; /* Add transition for smooth animation */


  h1 {
    margin: 0;
    font-size: 24px;
  }

  .input_box {
    input {
      width: 250px;
      height: 38px;
      border-radius: 20px;
      padding-bottom: 0.1rem;
      padding-left: 20px;

      border: none;
      background-color: #e9eef5;
    }
  }

  .hamburger {
    font-size: 30px;
    color: #000;
    cursor: pointer;
    margin-right: 20px; /* Move the hamburger button right */
  }




}


.app-container.sidebar-open .header {
  margin-left: 250px; /* Adjust margin to make space for the open sidebar */
}